[Unit]
Description=SystemD Service Death Watcher (user)

StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/python3 -m mirfatif.systemd_svc_status.systemd_svc_watcher --user

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=5

Environment=PYTHONUSERBASE=/opt/python_user_base

[Install]
WantedBy=multi-user.target
